# Dependencies
node_modules/

# Kompilowane pliki TypeScript (wyjście)
out/
dist/

# Ustawienia środowiska
.env
.env.local
.env.development
.env.test
.env.production
.dev-tests

# Ustawienia IDE
.vscode/
.vscode-test/
.idea/

# Logi i pliki tymczasowe
*.log
*.tmp
*.temp

# Pliki systemowe
.DS_Store
Thumbs.db
